.cartItem{
  display: none;
}

#cart-wrap{
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkout-button{
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
}
